{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>didn't match, try again</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
        <table>
            <tr>
                <td>{{form.username.labe_tag}}</td>
                <td>{{form.username}}</td>
            </tr>
            <tr>
                <td>{{form.password.labe_tag}}</td>
                <td>{{form.password}}</td>
            </tr>
        </table>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{next}}">
    </form>
{% endblock %}